<h1>All Bookings  </h1>

<% @bookings.each do |booking| %>
<div class="card-product">
  <img src="https://cdn2.iconfinder.com/data/icons/iconslandtransport/PNG/256x256/TractorUnitBlack.png" />
  <div class="card-product-infos">
    <h2><%= Booking.mover. %></h2>
    <h2> Mover Name: <%= booking.mover.name %></h2>
    <p>We'll start at <%= booking.start_point %> at <%= booking.date_time %></p>
  </div>
</div>


<% end %>




