
 

<div class="banner">
    <h1> Leave the moooving to us </h1>
</div>


<div class="cards">
  <div class="card-feature">
    <h1>Lorem</h1>
      <div class="feature-1">
      </div> 
      <div class="feature-1">
      </div> 
      <div class="feature-1">
      </div> 
  </div>

  <div class="card-feature">
    <h1>Ipsum</h1>
  </div>

   <div class="card-feature">
    <h1>Text</h1>
  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Mooovers
  </div>
</div>

