

a {text-decoration: none;}

.main-button {
  background-color:#5466A6;
  color: white;
  padding: 8px 16px;
  font-weight: bolder;
  border-radius: 16px;
  font-family: $body-font;
  margin: 4px;
  border: 1px solid #5466A6;
}

.main-button:hover {
  text-decoration: none;
  color: white;
}

.second-button {
  background-color: #FEBD69;
  color:#5466A6;
  border: 1px solid #5466A6 ;
  padding: 8px 16px;
  font-weight: bolder;
  border-radius: 16px;
  font-family: $body-font;
  margin: 4px;
}

.second-button:hover {
  text-decoration: none;
}

.third-button {
  background-color: #white;
  color:#5466A6;
  border: 1px solid #5466A6 ;
  padding: 8px 16px;
  font-weight: bolder;
  border-radius: 16px;
  font-family: $body-font;
  margin: 4px;
}

.third-button:hover {
  text-decoration: none;
  color: #5466A6;
}


