.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 16px;
}

.card-category h1{
  font-family: $body-font;
  font-size: 32px;
  font-weight: bolder;
  width: 75%;
}

.card-feature {
  background-color: white;
  background-size: cover;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 16px;
    i {
      font-size: 80px;
    }
}



.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.feature-1 {
  border: 1px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: 50%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-booking-wrap{
  background-color:white;
  margin: 32px auto;
  border:1px solid lightgray;
  border-radius: 8px;
  width: 600px;

  p {
    margin: 0;
  }
}

.card-booking-table{
  display:flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-box{
  background-color: white;
  border: 1px solid black;
  width: 100%;

}
.inner-element{
  padding: 8px 16px;
}

.destination {

  padding: 8px 16px;
  border-radius: 4px;
  margin: 8px;

  p {
    background-color: #f8f8f8;
  }
}

.label {
  font-size: 12px;
  color: darkgrey;
}

.mover-info {
  padding: 0px 4px 16px 4px;
}

// .table-box-right{
//   background-color: white;
//   border: 1px,solid,black;
//   width: 50%;
//   text-align:right;
// }

.card-inner-table{
  display:flex;
  padding: 0px 24px 24px 24px;

}

.card-inner-table img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.card-image-wrap {
  flex: 50%;
}

.card-info {
  flex:50%;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
