// .big-container {
//   display: flex;
//   margin-top: 32px;

// }

.element-container {
  padding: 8px 16px;
}
.minimal-container-wrap {
  background-color:white;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 600px;
  margin-bottom: 88px 0;

  p {
    margin: 0;
  }
}

.minimal-container {
  // display:flex;
  // justify-content: space-around;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-wrapper {
  background-color:white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 16px;

}

.description-bottom{
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}
.accept a {
  display: block;
}

.all-abookings {
  margin: 10px auto;
}

